.About {
    background: var(--background);
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.About h1 {
    font-weight: 600;
    font-size: 2rem;
}

.aboutHeader {
    font-size: 3rem;
    margin: 10px;
    align-self: flex-start;
}

.aboutOurStoryParagraph {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 10px;
    gap: 1rem;
}

.aboutFaq {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutFaqSection {
    border-bottom: solid 1px var(--border-color);
    cursor: pointer;
}

.aboutFaqSection:last-child {
    border: none;
}



.aboutEmployees, .aboutOurStory, .aboutFaq {
    padding: 20px;
    border-radius: 10px;
    width: 800px;
}

.aboutEmployeeCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 100%;
}



.aboutFaqSectionContainer {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border-color);
    border-radius: 10px;
}


@media only screen and (max-width: 1024px) {

    .aboutHeader {
        font-size: 2rem;
    }

    .aboutOurStoryParagraph {
        font-size: 1rem;
    }

    .aboutEmployees, .aboutOurStory, .aboutFaq {
        width: 400px;
    }

    .aboutFaqSectionContainer {
    }
}

@media only screen and (max-width: 512px) {
    .aboutEmployees, .aboutOurStory, .aboutFaq {
        width: 255px;
    }

    .aboutFaqSectionContainer {
        width: 255px;
    }

    .aboutEmployeeCardContainer {
        flex-direction: column;
    }
}

