.About {
    background: bisque;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.aboutHeader {
    font-size: 3rem;
    margin: 10px;
}

.aboutOurStoryParagraph {
    display: flex;
    font-size: 2rem;
    margin: 10px;
}

.aboutEmployees, .aboutOurStory, .aboutFaq {
    border: solid 2px rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 10px;
    width: 800px;
}

.aboutEmployeeCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

@media only screen and (max-width: 1024px) {

    .aboutHeader {
        font-size: 2rem;
    }

    .aboutOurStoryParagraph {
        font-size: 1rem;
    }

    .aboutEmployees, .aboutOurStory, .aboutFaq {
        width: 400px;
    }
}

@media only screen and (max-width: 512px) {
    .aboutEmployees, .aboutOurStory, .aboutFaq {
        width: 200px;
    }

    .aboutEmployeeCardContainer {
        flex-direction: column;
    }
}

