.About {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.aboutHeader {
    font-size: 3rem;
    margin: 1rem;
    align-self: flex-start;
    background: var(--background);
}

.aboutOurStoryParagraph {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin: 1rem;
    gap: 1rem;
    background: var(--background);
}

.aboutFaq {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
}

.aboutFaqSection {
    border-bottom: solid 1px var(--border-color);
    cursor: pointer;
}

.aboutFaqSection:last-child {
    border: none;
}



.aboutEmployees, .aboutOurStory, .aboutFaq {
    padding: 1rem;
    width: 50rem;
}

.aboutEmployeeCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    max-width: 100%;
}



.aboutFaqSectionContainer {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border-color);
    border-radius: 0.5rem;
}


@media only screen and (max-width: 1024px) {

    .aboutHeader {
        font-size: 2rem;
    }

    .aboutOurStoryParagraph {
        font-size: 1rem;
    }

    .aboutEmployees, .aboutOurStory, .aboutFaq {
        width: 25rem;
    }
}

@media only screen and (max-width: 512px) {
    .aboutEmployees, .aboutOurStory, .aboutFaq {
        width: 16rem;
    }

    .aboutFaqSectionContainer {
        width: 16rem;
    }

    .aboutEmployeeCardContainer {
        flex-direction: column;
        align-items: center;
    }
}

