.companiesSectionMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companiesTable {
  border-collapse: collapse;
}

.companiesTable thead tr th p{
  text-align: center;
  font-weight: normal;
  font-size: 1.2rem;
  margin: 1rem 3rem;
}