.OrderMain {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--background);
  padding: 2rem;
}

.OrderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  gap: 2rem;
}

.OrderInformation {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0rem;
}

.OrderInformation li{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  
}

.OrderInformation li p:first-child {
  font-weight: bold;
}

.OrderNavButton {
  height: 3rem;
}