.Company {
    padding-top: 70px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;

    background: var(--background);
}

.companyDetailsLinks {
    align-self: flex-start;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.companyDetailsMainSection {
    position: absolute;
    top: auto;
    left: 50%;
    margin-top: 30vh;
    transform: translate(-50%);
}