.Dashboard {
    min-height: 100vh;
    padding-top: 60px;
    background: var(--background);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashboardDropdownMenu {
    width: 300px;
    display: none;
}

.dashboardSectionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 550px) {
    .Dashboard {
        flex-direction: column;
    }

    .dashboardDropdownMenu {
        display: block;
    }

    .dashboardDashboardNavBar {
        display: none;
    }


}