.Dashboard {
    min-height: 100vh;
    padding-top: 60px;
    background: var(--background);
    display: flex;
    flex-direction: row;
}

.DashboardSectionContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}