.AddressFieldInputContainer {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.AddressFieldInputContainer div {
  display: flex;
  flex-direction: column;
}

.AddressFieldInputContainer .Zip > input {
  max-width: 8ch;
}

@media screen and (max-width: 900px) {
  .AddressFieldInputContainer {
    flex-direction: column;
  }
}