.DetailsSection {
    display: flex;
    flex-direction: column;
}

.detailsSectionRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8rem;
    margin: .5rem;
}

.detailsSectionDescriptor {
    font-weight: 700;
}

.detailsSectionButtonContainer {
    display: flex;
    justify-content: space-between;
}

.detailsSectionButton {
    height: 3rem;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 400px) {
    .detailsSectionRow {
        gap: 3rem;
    }

    .detailsSectionButton {
        height: 2rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }
}