.Header {
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    backdrop-filter: blur(5px);
}

.navLink {
    padding-left: 20px;
    padding-right: 20px;

    font-family: "Kantumruy Pro";
    font-size: x-large;
    text-align: center;
    font-weight: normal;
    text-decoration: none;

    color: #ffffff;
}

.navLink.rent {
    color: #5063f8;
}

.navLink:active {
    color: blue;
}