.Header {
    position: fixed;
    width: 100%;
    height: 60px;

    background: var(--background);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    border-bottom:solid .25rem var(--primary-100);

    z-index: 999;
}

.navLink {
    padding: 0 1rem 0 1rem;
    font-family: "Kantumruy Pro";
    font-size: x-large;
    text-align: center;
    font-weight: normal;
    text-decoration: none;

    color: var(--text-200);
}

.headerLogo {
    padding-left: 1rem;
    width: 10rem;
}

.navLink.sign-in {
    text-decoration: initial;
}

.navLink.rent {
    font-weight: 550;
}

.navLink:active {
    color: var(--primary-100);
}

.headerMenuButtonContainer {
    display: none;
    margin: 0 20px 0 20px;
}

@media only screen and (max-width: 1024px) {
    .headerRightContainer {
        display: none;
        background: rgba(0, 0, 0, 0.9);

        width: 100vw;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0px;
        padding: 10px 0 10px 0;
    }

    .navLink {
        padding: 10px 0 10px 0;
        width: 100vw;

        border-bottom:solid rgba(0, 0, 0, 0.3);
    }

    .headerMenuButtonContainer {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .headerMenuButton {
        border-radius: 50px;
        background: white;
        width: 40px;
        height: 4px;
    }

    .headerMenuButton.bottom, .headerMenuButton.top {
        transition: transform 0.3s ease-in-out;
    }

    .headerMenuButton.middle {
        transition: opacity 0.3s ease-in-out;
    }

    .headerMenuButton.bottom.active {
        animation: burgerMenuBottom 0.3s ease-in-out;
        transform: rotate(225deg) translateY(8px) translateX(8px);
    }

    .headerMenuButton.top.active {
        animation: burgerMenuTop 0.3s ease-in-out;
        transform: rotate(-225deg) translateY(-8px) translateX(8px);
    }

    .headerMenuButton.middle.active {
        background: transparent;
    }

    .headerRightContainer.active {
        display: flex;
        animation: flyInFromTop .3s ease-in;
    }
}

@keyframes flyInFromTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes burgerMenuBottom {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    50% {
        transform: translateX(-50%) translateY(8px) rotate(90deg);
    }
    100% {
        transform: translateX(0) translateY(-8px) rotate(225deg);
    }
}

@keyframes burgerMenuTop {
    0% {
        transform: translateX(0) translateY(0) rotate(0deg);
    }
    50% {
        transform: translateX(50%) translateY(-8px) rotate(-90deg);
    }
    100% {
        transform: translateX(0) translateY(8px) rotate(-225deg);
    }
}
