.FaqSection {
    padding: 30px;
    /*border: solid black 2px;*/
}

.faqSectionQuestionAndIconContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faqSectionAnswerContainer {
    align-items: center;
    /*display: none;*/
    overflow: hidden;
    /*max-height: 0;*/
    /*transition: transform .3s ease-in-out;*/
    /*transform: scaleY(0);*/
    transition: height 0.5s ease;
}

.faqSectionAnswerContainer.active {
    /*max-height: revert;*/
    /*transform: scaleY(1);*/
    /*display: revert;*/
    /*transition: all 2s ease;*/
    overflow: hidden;
    display: revert;
}

.faqSectionIcon {
    transition: transform .1s ease-in-out;
    transform: rotate(0deg);
}
.faqSectionIcon.active {
    transform: rotate(90deg);
}

@keyframes rotateFaqIcon {

    from {transform: rotate(90deg)}
    to {transform: rotate(0)}
}