.FaqSection {
    padding: 30px;
    font-size: 1.2rem;
}

.faqSectionQuestionAndIconContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faqSectionAnswerContainer {
    align-items: center;
    overflow: hidden;
    font-weight: 300;
    transition: height 0.5s ease;
}

.faqSectionAnswerContainer.active {
    overflow: hidden;
    display: revert;
}

.faqSectionAnswer {
    margin-top: 20px;
}

.faqSectionIcon {
    transition: transform .1s ease-in-out;
    transform: rotate(0deg);
}
.faqSectionIcon.active {
    transform: rotate(90deg);
}

@keyframes rotateFaqIcon {

    from {transform: rotate(90deg)}
    to {transform: rotate(0)}
}