.CarDetailsTable {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.carDetailsTableRowTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    cursor: pointer;
}

.carDetailsTableDropdownMenu, .carDetailsTableDropdownMenu {
    border-bottom: 1px solid var(--border-color);
}

.carDetailsTableDropdownMenu button {
    font-weight: normal;
}

.carDetailsTableDropdownMenu button.visible {
    background-color: var(--error);
}

.carDetailsTableDropdownMenu button.hidden {
    background-color: var(--success);
}

.carDetailsTableDropdownMenu {
    padding: 15px 0 15px 0;
}

.carDetailsTableColumn {
    width: 110px;
    text-align: center;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carDetailsTableDescriptorRow p {
    font-size: 1.2rem;
}

.carDetailsTableDates, .carDetailsTableOpenContentRenteeSection, .carDetailsTableStatus {
    flex-grow: 1;
    font-size: 1rem;
}

.carDetailsTableDates, .carDetailsTableStatus {
    text-align: center;
}

.carDetailsTableOpenContentRenteeSection {
    text-align: right;
}

.carDetailsTableOpenContent {
    display: flex;
    gap: 20px;
    width: 90%;
    margin: 10px 0 20px 0;
}

.carDetailsTableColumnDescriptor {
    font-weight: 500;
}

.carVisibilityButton {
    color: var(--text-200);
    padding: 0.2rem;
    border-radius: 0.2rem;
    width: 6rem;
    z-index: 999;
}

.carVisibilityButton:hover {
    background-color: var(--primary-100);
}

.carVisibilityButton.hidden {
    background-color: var(--success);
}

.carVisibilityButton.visible {
    background-color: var(--error);
}
