.EmployeeCard {
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: .25rem;
}

.EmployeeCard h1 {
    font-size: 1rem;
    margin: .75rem 0 0 0;
}

.employeeCardContentContainer {
    width: 200px;
}

.employeeCardImageContainer {
    width: 100%;
    aspect-ratio: 1/1;
}

.employeeCardContentContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem .5rem 0 0;
}



.employeeCardHeader {
    font-size: 1.5rem;
}

.employeeCardParagraph {
    font-size: 0.938rem;
}

@media only screen and (max-width: 1024px) {
    .employeeCardContentContainer {
        width: 150px;
    }
}

@media only screen and (max-width: 512px) {
    .employeeCardContentContainer {
        width: 150px;
    }
    .employeeCardHeader {
        font-size: 1rem;
    }
}


