.Portal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 70px 10px 10px;
    background: white;
    min-height: 100vh;
}

.portalSearchSortContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

.CarList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.portalCarCards {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 10px;
}