.Portal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 70px 10px 10px;
    background: white;
    min-height: 100vh;
    background: var(--background);
}



.portalSearchSortContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

.CarList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.portalCarCards {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 10px;
}

.portalVerticalSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.portalVerticalSectionFilters {
    display: none;
    transition: height ease-in-out .5s;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.portalVerticalSectionButton {
    display: none;
    width: 100px;
}

@media screen and (max-width: 800px) {
    .portalLeftFilters {
        display: none;
    }
    .portalVerticalSectionButton {
        display: block;
    }
    .portalVerticalSectionFilters {
        display: flex;
    }
}