.RentMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: var(--background);
  padding: 2rem;
  gap: 2rem;
}

.RentCarImage {
  max-width: 70ch;
  width: 100%;
}

.RentUpperSection {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 2rem;
}

.RentDynamicSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.RentCarDescription p {
  max-width: 70ch;
}



@media screen and (max-width: 1024px) {
  .RentDynamicSection {
    flex-direction: column;
  }
}