.RentMain {
  padding: 60px;
  display: flex;
  flex-direction: row;
}

.RentInformation {
  width: 100%;


}

.RentInteraction {
  width: 100%;

  display: flex;
  justify-content: center;
}

.RentInteractionInner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
}

.RentDurationSelection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}


.RentDailyPrice > p {
  margin: 0px;
  padding: 0px;
}

.RentDailyPrice > .RentTitle {
  font-size: 1rem;
  
}

.RentDailyPrice > .RentContent {
  font-size: 1.25rem;
}

.RentTotalPrice > p {
  margin: 0px;
  padding: 0px;
}

.RentTotalPrice > .RentTitle {
  font-size: 1.25rem;
}

.RentTotalPrice > .RentContent {
  font-size: 2rem;
}

.RentButton {
  width: fit-content;
  border: none;
  border-radius: 10px;
  padding: 1rem;

  font-weight: 800;
  color: #EAEAEA;

  background: linear-gradient(#3C61E6, #5063F8)
}

.RentCompanyCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.RentCompanyCard > .RentCompanyImage{
  background-image: url("./../../resources/images/bmw.jpg");
  background-position: center center;
  background-size: cover;
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.RentAttributeList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}