.DashboardNavBar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.DashboardNavBar button {
    background: none;
    margin: .5rem .25rem .5rem .25rem;
    color: var(--text-200);
    font-family: "Kantumruy Pro";
    font-size: 1rem;
    font-weight: 500;
}

.DashboardNavBar button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.DashboardNavBar button.selected {
    font-weight: 700;
}