.DashboardNavBar {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    gap: 2rem;
}

.DashboardNavBar button {
    background: none;
    color: var(--text-200);
    font-family: "Kantumruy Pro";
    font-size: 1rem;
    font-weight: 500;
}

.DashboardNavBar button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.DashboardNavBar button.selected {
    font-weight: 700;
}

.DashboardNavBar div, h3 {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    margin: 0;
}

.UserPages {
    gap: 0
}

.AdminPages {
    gap: 0
}