.CarAttributes {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 333px) {
  .CarAttributes {
    flex-direction: column;
    align-items: center;
  } 
  
}