.RentInteraction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  gap: 1rem;
}

.RentSelectedDay {
  background-color: var(--primary-200);
  color: var(--text-200);
}

.RentSelectedDay:hover {
  background-color: var(--primary-100) !important;
  color: var(--text-200);
}

.react-datepicker__day--in-selecting-range {
  background-color: var(--primary-100) !important;
  color: var(--text-200);
}

.react-datepicker__day--range-start {
  background-color: var(--primary-100) !important;
  color: var(--text-200);
}



@media screen and (max-width: 1024px) {
  .RentInteraction {
    width: 100%;
  }
}