.RentInteraction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  gap: 1rem;
}

.RentSelectedDay {
  background-color: var(--primary-200);
  color: var(--text-200);
}

.RentSelectedDay:hover {
  background-color: var(--primary-100) !important;
  color: var(--text-200);
}

.react-datepicker__day--in-selecting-range {
  background-color: var(--primary-100) !important;
  color: var(--text-200);
}

.react-datepicker__day--range-start {
  background-color: var(--primary-100) !important;
  color: var(--text-200);
}

.RentDurationSelection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.RentDailyPrice > p {
  margin: 0;
  padding: 0;
}

.RentDailyPrice > .RentTitle {
  font-size: 1rem;
}

.RentDailyPrice > .RentContent {
  font-size: 1.25rem;
}

.RentTotalPrice > p {
  margin: 0;
  padding: 0;
}

.RentTotalPrice > .RentTitle {
  font-size: 1.25rem;
}

.RentTotalPrice > .RentContent {
  font-size: 2rem;
}

.RentButton {
  height: 3rem;
}


.RentFailMessage {
  color: var(--error);
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .RentInteraction {
    width: 100%;
  }
}