.CarCard {
    display: flex;
    border: solid 1px #e8e6e6;
    box-shadow: 0 0px 10px #e8e6e6;
    width: 32rem;
    height: 7rem;
    padding: .5rem;
    border-radius: .5rem;
    gap: .5rem;
}

.CarCard:hover {
    background: lightgray;
    cursor: pointer;
}

.CarCard h1, h2, p {
    margin: 0;
}

.CarCard h1 {
    font-weight: 550;
    font-size: 1.5rem;
}

.CarCard h2 {
    font-size: .7rem;
}

.CarCard p {
    font-size: 1rem;
}

.CarCardImageContainer {
    background: #5063f8;
    border-radius: .5rem;
    overflow: hidden;
    width: 35%;
}

.CarCardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.CarCardRightPane {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.CarCardInnerRightPane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CarCardInnerLeftPane {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CarCardCarInfoContainer {
    display: flex;
    gap: 1rem;
}

.CarCardPriceContainer {
    display: flex;
    justify-content: flex-end;
}

.CarCardAvailabilityContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
}

.CarCardAvailabilityIndicator {
    background: #fc0000;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
}

.CarCardAvailabilityTag {
    color: #fc0000;
    font-weight: 500;
}

.CarCardAvailabilityIndicator.true {
    background: #7afc00;
}

.CarCardAvailabilityTag.true {
    color: #7afc00;
}